<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-page-header></app-page-header>
    <!-- Main content -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-navy card-outline">
                        <div class="card-body box-profile">

                            <h3 class="profile-username text-center">{{ this.cliente?.nombre | uppercase}} {{ this.cliente?.apaterno | uppercase}} {{ this.cliente?.amaterno | uppercase}}</h3>

                            <p class="text-muted text-center">{{ this.cliente?.fecha | date}}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>CURP:</b>
                                    <a class="float-right">{{ this.cliente?.curp }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>RFC:</b>
                                    <a class="float-right">{{ this.cliente?.rfc }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>NSS:</b>
                                    <a class="float-right">{{ this.cliente?.nss }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Email:</b>
                                    <a class="float-right">{{ this.cliente?.email }}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-navy">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-phone-square-alt"></i> - Contacto</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div *ngFor="let item of this.telefonos">
                                <strong><i class="fas fa-hashtag"></i>{{item.telefono}} - <small>{{ item.tipoTelefono }}</small></strong>

                                <p class="text-muted">
                                    {{item.descripcion}}
                                </p>

                                <hr>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-navy">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-map-marked-alt"></i> - Domicilio</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div *ngFor="let item of this.direcciones; let i = index">
                                <strong><i class="fas fa-thumbtack"></i> Direccion #{{i+1}}</strong>

                                <p class="text-muted">
                                    CALLE {{item.calle | uppercase}} # {{ item.numeroE}} - {{ item.numeroI }}, COLONIA {{ item.colonia | uppercase}}, {{item.municipio |uppercase}}, {{item.estado | uppercase}}
                                </p>

                                <hr>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#tramites" data-toggle="tab">Tramites</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Documentos</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Editar datos</a></li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tramites">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%">FOLIO</th>
                                                <th>Año</th>
                                                <th>Tipo de tramite</th>
                                                <th>Monto</th>
                                                <th>Registro</th>
                                                <th>Hipoteca</th>
                                                <th>Estado</th>
                                                <th>Fecha de inicio</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-danger">
                                  10 Feb. 2014
                                </span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-envelope bg-primary"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 12:05</span>

                                                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                                <div class="timeline-body">
                                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora plaxo ideeli hulu weebly balihoo...
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-user bg-info"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                                                <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                                                </h3>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-comments bg-warning"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                                                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                                <div class="timeline-body">
                                                    Take me to your leader! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood!
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-success">
                                  3 Jan. 2014
                                </span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-camera bg-purple"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                                                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                                <div class="timeline-body">
                                                    <img src="https://placehold.it/150x100" alt="...">
                                                    <img src="https://placehold.it/150x100" alt="...">
                                                    <img src="https://placehold.it/150x100" alt="...">
                                                    <img src="https://placehold.it/150x100" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <div>
                                            <i class="far fa-clock bg-gray"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </section>
</div>