<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-page-header></app-page-header>
    <!-- Main content -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-navy card-outline">
                        <div class="card-body box-profile">

                            <h3 class="profile-username text-center">{{ this.cliente?.nombre | uppercase}} {{ this.cliente?.apaterno | uppercase}} {{ this.cliente?.amaterno | uppercase}}</h3>

                            <p class="text-muted text-center">{{ this.cliente?.fecha | date}}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>CURP:</b>
                                    <a class="float-right">{{ this.cliente?.curp }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>RFC:</b>
                                    <a class="float-right">{{ this.cliente?.rfc }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>NSS:</b>
                                    <a class="float-right">{{ this.cliente?.nss }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Email:</b>
                                    <a class="float-right">{{ this.cliente?.email }}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-navy">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-phone-square-alt"></i> - Contacto</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div *ngFor="let item of this.telefonos">
                                <strong><i class="fas fa-hashtag"></i>{{item.telefono}} - <small>{{ item.tipoTelefono }}</small></strong>

                                <p class="text-muted">
                                    {{item.descripcion}}
                                </p>

                                <hr>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-navy">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-map-marked-alt"></i> - Domicilio</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div *ngFor="let item of this.direcciones; let i = index">
                                <strong><i class="fas fa-thumbtack"></i> Direccion #{{i+1}}</strong>

                                <p class="text-muted">
                                    CALLE {{item.calle | uppercase}} # {{ item.numeroE}} - {{ item.numeroI }}, COLONIA {{ item.colonia | uppercase}}, {{item.municipio |uppercase}}, {{item.estado | uppercase}}
                                </p>

                                <hr>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#tramites" data-toggle="tab">Tramites</a></li>
                                <li class="nav-item"><a class="nav-link" href="#documentos" data-toggle="tab">Documentos</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Editar datos</a></li>
                            </ul>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tramites">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%">FOLIO</th>
                                                <th>Año</th>
                                                <th>Tipo de tramite</th>
                                                <th>Monto</th>
                                                <th>Registro</th>
                                                <th>Hipoteca</th>
                                                <th>Estado</th>
                                                <th>Fecha de inicio</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>OIDKSD23IE902K</td>
                                                <td>2019</td>
                                                <td>Impuesto a favor</td>
                                                <td>$ 3,895.28</td>
                                                <td>PENSIONISSSTE</td>
                                                <td>---</td>
                                                <td>En proceso de pago</td>
                                                <td>25/AGOSTO/2020</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-xs bg-gradient-primary"><i class="fas fa-info-circle"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="documentos">


                                    <div class="card-body">
                                        <div *ngIf="!this.chargeDocS" class="row">
                                            <div class="col-md-10">
                                                <!-- <input type="search" placeholder="Buscar..." formControlName="termino" class="form-control "> -->
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-block bg-gradient-primary" (click)="chargeDoc()"><i class="fas fa-folder-plus"></i> Suir documento</button>
                                            </div>

                                        </div>


                                        <hr *ngIf="!this.chargeDocS">
                                        <div *ngIf="!this.chargeDocS" class="row">
                                            <div class="col-md-4">
                                                <div class="card bg-light">
                                                    <div class="card-header text-muted border-bottom-0">
                                                        Documento
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-5 text-center">
                                                                <img style="width: 100%;" src="../../../assets/imgs/pdf.svg" alt="user-avatar" class="rounded">
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="row">
                                                                    <h2 class="lead"><b>Acta de nacimiento</b></h2>
                                                                    <p class="text-muted text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                                                    <p class="text-muted text-sm"><strong class="">Fecha de subida:</strong> 24 ago 2020</p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-danger"><i class="fas fa-folder-minus"></i></button>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-success"><i class="fas fa-file-download"></i></button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card bg-light">
                                                    <div class="card-header text-muted border-bottom-0">
                                                        Documento
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-5 text-center">
                                                                <img style="width: 100%;" src="../../../assets/imgs/pdf.svg" alt="user-avatar" class="rounded">
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="row">
                                                                    <h2 class="lead"><b>Acta de nacimiento</b></h2>
                                                                    <p class="text-muted text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                                                    <p class="text-muted text-sm"><strong class="">Fecha de subida:</strong> 24 ago 2020</p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-danger"><i class="fas fa-folder-minus"></i></button>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-success"><i class="fas fa-file-download"></i></button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card bg-light">
                                                    <div class="card-header text-muted border-bottom-0">
                                                        Documento
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-5 text-center">
                                                                <img style="width: 100%;" src="../../../assets/imgs/pdf.svg" alt="user-avatar" class="rounded">
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="row">
                                                                    <h2 class="lead"><b>Acta de nacimiento</b></h2>
                                                                    <p class="text-muted text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                                                    <p class="text-muted text-sm"><strong class="">Fecha de subida:</strong> 24 ago 2020</p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-danger"><i class="fas fa-folder-minus"></i></button>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-success"><i class="fas fa-file-download"></i></button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card bg-light">
                                                    <div class="card-header text-muted border-bottom-0">
                                                        Documento
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-5 text-center">
                                                                <img style="width: 100%;" src="../../../assets/imgs/pdf.svg" alt="user-avatar" class="rounded">
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="row">
                                                                    <h2 class="lead"><b>Acta de nacimiento</b></h2>
                                                                    <p class="text-muted text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                                                    <p class="text-muted text-sm"><strong class="">Fecha de subida:</strong> 24 ago 2020</p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-danger"><i class="fas fa-folder-minus"></i></button>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-success"><i class="fas fa-file-download"></i></button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card bg-light">
                                                    <div class="card-header text-muted border-bottom-0">
                                                        Documento
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-5 text-center">
                                                                <img style="width: 100%;" src="../../../assets/imgs/pdf.svg" alt="user-avatar" class="rounded">
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="row">
                                                                    <h2 class="lead"><b>Acta de nacimiento</b></h2>
                                                                    <p class="text-muted text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                                                    <p class="text-muted text-sm"><strong class="">Fecha de subida:</strong> 24 ago 2020</p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-danger"><i class="fas fa-folder-minus"></i></button>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-success"><i class="fas fa-file-download"></i></button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card bg-light">
                                                    <div class="card-header text-muted border-bottom-0">
                                                        Documento
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-5 text-center">
                                                                <img style="width: 100%;" src="../../../assets/imgs/pdf.svg" alt="user-avatar" class="rounded">
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="row">
                                                                    <h2 class="lead"><b>Acta de nacimiento</b></h2>
                                                                    <p class="text-muted text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                                                    <p class="text-muted text-sm"><strong class="">Fecha de subida:</strong> 24 ago 2020</p>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-danger"><i class="fas fa-folder-minus"></i></button>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <button class="btn btn-block bg-gradient-success"><i class="fas fa-file-download"></i></button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <form *ngIf="this.chargeDocS" [formGroup]="nDocumentoForm" (submit)="guardarDocumento()">
                                            <h4>Subir nuevo documento</h4>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="exampleInputFile">Documento:</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input (change)="prepareDoc($event.target.files[0])" accept=".pdf" formControlName="file" type="file" class="custom-file-input" id="exampleInputFile">
                                                            <label class="custom-file-label" for="exampleInputFile">Elige un archivo</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>Tipo de documento:</label>
                                                    <div class="input-group">
                                                        <select formControlName="tipoDocumento" class="form-control">
                                                <option value="Acta de nacimiento" >Acta de nacimiento</option>
                                              </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>Comentarios:</label>
                                                    <div class="input-group">
                                                        <textarea formControlName="comentarios" class="form-control" name="textarea" rows="10" cols="50"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 offset-6">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <button (click)="cancelarDoc()" class="btn btn-block bg-gradient-danger">Cancelar</button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button [disabled]="!this.file" class="btn btn-block bg-gradient-success">Guardar documento</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div *ngIf="!this.chargeDocS" class="card-footer">
                                        <nav aria-label="Contacts Page Navigation ">
                                            <ul class="pagination justify-content-center m-0 ">
                                                <pagination-controls (pageChange)="p=$event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
                                            </ul>
                                        </nav>

                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </section>
</div>