<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/dashboard" class="brand-link">
        <img src="../../../assets/adminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">SIADCON</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-paper-plane"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-header">CLIENTES</li>
                <li class="nav-item">
                    <a routerLink="/dashboard/clientes/alta" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>
                            Agregar cliente
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/dashboard/clientes/expedientes" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Expedientes
                        </p>
                    </a>
                </li>
                <li class="nav-header">TRAMITES</li>
                <li class="nav-item">
                    <a routerLink="/dashboard/tramites/new" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-notes-medical"></i>
                        <p>
                            Nuevo tramite
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/dashboard/listaTramites" routerLinkActive="active" class="nav-link">
                        <i class="fas fa-clipboard-list nav-icon"></i>
                        <p>
                            Lista de tramites
                        </p>
                    </a>
                </li>
                <li class="nav-header">USUARIO</li>

                <li class="nav-item">
                    <a routerLink="usuario/perfil" routerLinkActive="active" class="nav-link">
                        <i class="fas fa-address-card nav-icon"></i>
                        <p>Perfil</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="usuario/cambiarPass" routerLinkActive="active" class="nav-link">
                        <i class="fas fa-key nav-icon"></i>
                        <p>Cambiar contraseña</p>
                    </a>
                </li>

                <li class="nav-header">ADMINISTRADOR</li>

                <li class="nav-item">
                    <a routerLink="administrador/nuevoUsuario" routerLinkActive="active" class="nav-link">
                        <i class="fas fa-user-plus nav-icon"></i>
                        <p>Agregar usuario</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="administrador/listaUsuarios" routerLinkActive="active" class="nav-link">
                        <i class="fas fa-users nav-icon"></i>
                        <p>Lista de usuarios</p>
                    </a>
                </li>
                <!-- /NAVITEM -->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>