<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-page-header></app-page-header>
    <!-- Main content -->

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    <div *ngFor="let item of this.usuarios | paginate: { itemsPerPage: 6, currentPage: p }" class="col-md-4">
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                {{item.puesto | uppercase}}
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>{{ item.nombre | uppercase }} {{ item.apaterno | uppercase }}</b></h2>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Direccion: {{item.direccion.calle | uppercase}} #{{item.direccion.numeroE | uppercase}} {{item.direccion.numeroI | uppercase}}, {{item.direccion.municipio
                                                | uppercase}}, {{item.direccion.estado | uppercase}} </li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono #: {{item.telefono | uppercase}} </li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-at"></i></span> Email: {{item.email}} </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="../../../assets/adminLTE/dist/img/user1-128x128.jpg" alt="user-avatar" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <button (click)="deleteUsuario($event,item._id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <nav aria-label="Contacts Page Navigation">
                    <ul class="pagination justify-content-center m-0">
                        <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
                    </ul>
                </nav>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>